<header>
<nav id="mainnav" class="navbar navbar-expand-sm navbar-dark" style="background-color: #C28174;">
    <div class="container">
            <a class="navbar-brand" href="/">CHOOSE AN ACTIVITY ! !</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link " routerLink="/">HOME</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  " routerLink="/list">COLLECTIONS</a>
                </li>
              </ul>
              
            </div>
    </div>
       
      </nav>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>
